<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Key:</b>
  <%= @user.key %>
</p>

<p>
  <b>grant:</b>
  <%= @grant.inspect %>
</p>


<p> <b>verified?</b>
  <%= @verifier.verifed? %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
